<!DOCTYPE html>
<html>
  <head>
    <title>G-Apedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"           content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"        content="G fact checker / integrity meter. How many times has G been right? Wrong? 🤔">
    <meta property="title"          content="G-Apedia">
    <meta name="submission"         content="https://gapedia.herokuapp.com">
    <meta name="author"             content="Kevin Camellini">
    <meta name="expires"            content="Never">
    <meta name="distribution"       content="Global">
    <meta name="robots"             content="all">

    <!-- Facebook OG -->
    <meta property="og:locale"      content="en_CA">
    <meta property="og:type"        content="website">
    <meta property="og:title"       content="G-Apedia">
    <meta property="og:description" content="G fact checker / integrity meter. How many times has G been right? Wrong? 🤔">
    <meta property="og:url"         content="https://gapedia.herokuapp.com">
    <meta property="og:site_name"   content="https://gapedia.herokuapp.com">
    <meta property="og:image"       content="https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/1122px-Wikipedia-logo-v2.svg.png">

    <!-- Twitter Protocol -->
    <meta name="twitter:title"      content="Clinique Physio-Impact">
    <meta name="twitter:card"       content="summary">
    <meta name="twitter:creator"    content="@kevcamcam">
    <meta name="twitter:description"content="G fact checker/integrity meter. How many times has G been right? Wrong? 🤔">
    <meta name="twitter:url"        content="https://gapedia.herokuapp.com">
    <meta name="twitter:image"      content="https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/1122px-Wikipedia-logo-v2.svg.png">

    <!-- Favicon -->
    <link href="https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/1122px-Wikipedia-logo-v2.svg.png" rel="icon" type="image/png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <style type="text/css">
      html,body{
        font-family: 'Lato', sans-serif;
        color: rgba(0,0,0,0.8);
      }
      a:hover{
        text-decoration: none;
      }
    </style>    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
